body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 100%;
    max-width: 320px;
}

header {
    position: relative;
    height: 420px;
    overflow: hidden;
}
  
.header__bg {
  background-image: linear-gradient(to top right, #1DDE9D, #C2FFEB);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: skewY(-4deg);
  transform-origin: top left;
}

.header__title, .header__subtitle, .bottom__subtitle {
    text-shadow: 0px 2px 2px  rgba(0, 0, 0, 0.16);
    text-align: center;
    color:  #FFFFFF;
    position: relative; 
}

.header__title {
    font-size: 52px;
    line-height: 48px;
    font-weight: bold;
    padding: 20px;
}

.header__subtitle, .bottom__subtitle {
    font-size: 28px;
    line-height: 30px;
    font-weight: normal;
}

.header__img {
    float: right;
}

.form__top, .form__bottom {
    position: relative;
}
.form__top {
    position: absolute;
    top: 270px;
    left: 10px;
} 

.form__text-top {
    font-size: 12px;
    line-height: 54px;
    color: #ffffff;
    position: absolute;
    top: 75px;
    left: 65px;
}

.form__email-top, .form__email-footer {
    border: 2px solid #FFFFFF;
    background: transparent;
    border-radius: 4px;
    width: 177px;
    font-size: 14px;
    line-height: 54px;
    height: 37px;
}

.form__btn-top, .form__btn-footer {
    background-color: #fff;
    border: none;
    color: #1DDE9D;    
    line-height: 54px;
    font-size: 16px;
    width: 177px;
    margin: 10px;
    border-radius: 4px;
    font-size: 16px;
    height: 37px;
}

::placeholder {
    color: #FFFFFF;
}

.header__img {
    position: relative; 
}

.main__title, .main__title--right {
    line-height: 30px;
    font-weight: normal;
    line-height: 20px;
} 

.main__title {
    font-size: 28px;
    padding: 20px;

}

.main__text {
    font-size: 20px;
}
.main__text:last-of-type {
    padding-bottom: 40px; 
}

.main__img {
    padding: 10px;
}

.interest {
    margin: 40px 0;
}

footer {
    background: #1DDE9D;
    height: 280px;
}

.bottom__subtitle{
    padding: 20px;
}

.form__email-footer{
    width: 282px;
}

.form__btn-footer{
    width: 282px;
}

.form__text-footer {
    font-size: 12px;
    line-height: 54px;
    color: #ffffff;
    position: absolute;
    top: 75px;
    left: 165px;
