body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    max-width: 320px;
}

header {
    position: relative;
    height: 420px;
    overflow: hidden;
}
  
.header__bg {
  background-image: linear-gradient(to top right, #1DDE9D, #C2FFEB);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: skewY(-4deg);
  transform-origin: top left;
}

.header__title, .header__subtitle {
    text-shadow: 0px 2px 2px  rgba(0, 0, 0, 0.16);
    text-align: center;
    color:  #FFFFFF;
    position: relative; 
}

.header__title {
    font-size: 52px;
    line-height: 48px;
    font-weight: bold;
    padding: 20px;
}

.header__subtitle {
    font-size: 28px;
    line-height: 30px;
    font-weight: normal;
}

.header__img {
    float: right;
}

.form__top, .form__bottom {
    position: relative;
}
.form__top {
    position: absolute;
    top: 270px;
    left: 10px;
} 

.form__text {
    font-size: 12px;
    line-height: 54px;
    color: #ffffff;
    margin-top: 0;
}

.form__email {
    border: 2px solid #FFFFFF;
    background: transparent;
    border-radius: 4px;
    padding: 8px;
    width: 144px;
    font-size: 14px;
}

.form__btn {
    background-color: #fff;
    border: none;
    color: #1DDE9D;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 177px;
    margin: 10px;
    margin-bottom: 0;
    border-radius: 4px;
    font-size: 16px;
}

::placeholder {
    color: #FFFFFF;
}

.header__img {
    position: relative; 
}

.main__title, .main__title--right {
    font-size: 28px;
    line-height: 30px;
    font-weight: normal;
    line-height: 20px;
} 

.main__text {
    font-size: 20px;
}

.interest {
    margin: 40px 0;
}









footer {
    background: #1DDE9D;
}